/*
Створити сторінку із формою реєстрації, яка буде включати такі поля:
Username, Email, Password, Repeat password, First name, Last Name, Age, Gender.
При реєстрації всі дані мають бути додані в базу даних в таблицю users.

Створити сторінку із формою логіна із полями:
Username, Password.
Перевірити чи існує користувач введений при логіні і показати відповідне повідомлення
Для шифрування паролів можна використовувати функцію md5()
Не забувайте про валідацію данних введених користувачем
*/

.home-link {
  text-align: center;
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}